﻿@model FTCWebApp.ViewModels.CommonVM
<!-- Partial View for Documents attachment-->

<script>
    $(document).ready(function () {
        $('#MleUploadDiv').hide();
        $('#CanvasDiv, #MsgDiv, #UploadDocDiv').show();
        UpdateViewForTranslation();
        if ($('#module_name').val() == "Enrollment" || $('#module_name').val() == "Update") {
            var declinedSteps =  @Html.Raw(Json.Encode(Model.Declines.Count()));
            if(declinedSteps != 0){
                $('#attachdocs_tabs').hide();
            }else{
                //$('#req_attachbtn').show();
                $('#attachdocs_tabs').show();
            }
        }
    });

    $(function () {
        $("#TranslateDropDown").change(function () {
            $('#MleUploadDiv').hide();
            $('#CanvasDiv, #MsgDiv, #UploadDocDiv').show();
            UpdateViewForTranslation();
        });
    });
    $(function (){
        $('#req_attachbtn').click(function (){
            $('#CompleteDeclineDiv :input').removeAttr('disabled');
        });
    });
    $(function () {
        $('#SubmitMLETranslation').click(function () {
            var formData = new FormData();
            formData.append('child.TranslatedMLE', $('#MLE').val());
            $("#modal .close").click()
            console.log(formData);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMLETranslationImage", "PanMain")',
                data: formData,
                success: function (result) {
                    var data = JSON.parse(result);
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                   // $('#Msgs').html(Msg);

                    if (data.Success == true) {
                        $("<div>", { "id": data.Id })
                               .append("<span> MLE Translation </span>")
                               .append($("<img>", {
                                   "src": "data:image/png;base64," + data.Image,
                                   "title": data.Name,
                                   "alt": data.Name,
                                   "id": data.Id,
                                   //"data-contenttype": data.Key,
                                   "float": "left",
                                   "margin-right": "10px"
                               }).addClass('image')).append("<span>" + data.Name + "</span>").append($("<button" + " id =" + data.Id + " value =" + data.contenttype + ">" + "Remove" + "</button>").addClass('thumb').addClass('btn')).addClass('thumbnail')
                               .appendTo("#req_attachdocs");
                        //$('#MLE').val(data.TranlsatedMLE);

                        $('#TranslateDropDown option').filter(function () {
                            return $(this).val() == data.Id.toString();
                        }).prop('disabled', true).prop('selected', false);
                    }
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        });
    });

    function UpdateViewForTranslation() {
        var moduleName = $('#module_name').val();
        if (moduleName === "Translate") {
            var stepName = $('#TranslateDropDown option:selected').text();
            if (stepName != null && stepName === "Major Life Event") {
                $('#MleUploadDiv').show();
                $('#CanvasDiv, #MsgDiv, #UploadDocDiv').hide();
            } else {
                $('#MleUploadDiv').hide();
                $('#CanvasDiv, #MsgDiv, #UploadDocDiv').show();
            }
        } else {
            $('#MleUploadDiv').hide();
            $('#CanvasDiv, #MsgDiv, #UploadDocDiv').show();
        }
    }

    $(function(){
        $('#CompleteDeclinedStep').click(function () {
            event.preventDefault();

            var stepCodeID = $('#StepCodeDropdown').val();
            var childID = $('#Child_ID').val();
            var qcApprove = "QC_Approve";
            var stepName =  $('#StepCodeDropdown option:selected').text();
            if(stepName != null && stepName !== "Select Decline Step")
            {
                $('#CompleteDeclineDiv :input').removeAttr('disabled');
            }else{
                $('#CompleteDeclineDiv :input').attr('disabled', 'disabled');
            }
            var formData = new FormData();
            formData.append('PendingChildID', $('#pendingChildID').val());
            formData.append('workflowID', $('#workflowID').val());
            formData.append('action', qcApprove);
            formData.append('correctedStep', stepCodeID);
            formData.append('ChildID', childID);

            $.ajax({
                url: '@Url.Action("CompleteDeclinedStep", "PanMain")',
                data: formData,
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                dataType: 'json',
                success: function (data) {
                    if (data.Success === true) {
                        $('#Msgs').html(data.Message);
                        @*if (ViewBag.Module == "Enrollment")
                        {
                            $.ajax({
                                url: '@Url.Action("LoadDeclinedEnrollmentChild", "PanMain")',
                                data: childID,
                                error: function (jqXHR, textStatus, errorMessage) {
                                    console.log(errorMessage);
                                },
                                processData: false,
                                contentType: false,
                                type: 'POST'
                            });
                        }
                        else if (ViewBag.Module == "Update")
                        {
                            $.ajax({
                                url: '@Url.Action("LoadDeclinedUpdateChild", "PanMain")',
                                data: childID,
                                error: function (jqXHR, textStatus, errorMessage) {
                                    console.log(errorMessage);
                                },
                                processData: false,
                                contentType: false,
                                type: 'POST'
                            });
                        }*@

                        location.reload(true);
                    }
                    else {
                        //alert(data.Message);
                        $('#validationMsgs').html(data.Message);
                    }
                },
                processData: false,
                contentType: false,
                type: 'POST'
            });
        });
    });
</script>
<div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding-top:10px;">
    @Html.Hidden("Child_ID", @Model.child.ChildID)
    <div id="crop_values">
        <input id="crop_x1" type="hidden" />
        <input id="crop_y1" type="hidden" />
        <input id="crop_width" type="hidden" />
        <input id="crop_height" type="hidden" />
    </div>
    <ul id="attachdocs_tabs" class="nav nav-tabs" data-tabs="tabs">
        @if (ViewBag.Module != "Translate")
        {
            <li class="active" style="max-width:50%"><a href="#ReqFiles" data-toggle="tab">Required Files</a></li>
            <li style="max-width:50%"><a href="#OptFiles" data-toggle="tab">Optional Files</a></li>
        }
    </ul>
    <div id="my-tab-content" class="col-xs-12 colsm-12 col-md-12 col-xl-12 tab-content">
        <div class="tab-pane  active" id="ReqFiles">
            @if (ViewBag.Module == "Translate")
            {
                <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding:0% 0 0 0">
                    <button id="req_attachbtn" class="btn btn-info btn-lg" style="margin-top:40px; text-align: center;  padding: 5px;" data-toggle="modal" data-target="#rModal">Process Translation</button>
                    @*<button id="test" onclick="OpenContractPopup('@Url.Action("OpenContract", "PanMain")')">View Contract ></button>*@
                </div>
                @Html.Hidden("URLLetter", Url.Action("OpenAFile", "PanMain"))
            }
            @*else
                {
                    //Disable the Attach files button when working on decline updates and there are no filed declined
                    if ((ViewBag.Module == "Enrollment" || ViewBag.Module == "Update") && (Model.Declines.Count() > 0 && Model.declinedContnetTypes.Count() == 0))
                    {
                        <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding:2% 0 0 0">
                            <button id="req_attachbtn" class="btn btn-info btn-lg" style="margin-top: 40px; text-align: center;  padding: 5px;" disabled ><span class="glyphicon glyphicon-folder-open"></span> Attach File</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding:2% 0 0 0">
                            <button id="req_attachbtn" class="btn btn-info btn-lg" style="margin-top: 40px; text-align: center;  padding: 5px; " data-toggle="modal" data-target="#rModal"><span class="glyphicon glyphicon-folder-open"></span> Attach File</button>
                        </div>
                        if ((ViewBag.Module == "Enrollment" || ViewBag.Module == "Update") && (Model.Declines.Count() > 0))
                        {
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:5%;">
                              <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                                 @Html.DropDownListFor(model => model.child.Child_StepCodeID, new SelectList(Model.Child_declinedSteps_ddl, "Value", "Text"), "Select Declined Step", new { @class = "form-control", style = "width: 100%;", @id = "StepCodeDropdown" })
                            </div>
                            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" id="QCApproveDiv">
                                <input type="button" value="Complete Decline" id="CompleteDeclinedStep" style="width:80%; background-color:orange; float:right" class="form-control font-weight-bold" />
                            </div>
                        </div>
                        }
                    }
                }*@

            @if ((ViewBag.Module == "Enrollment" || ViewBag.Module == "Update"))
            {
                @*if ((Model.Declines.Count() > 0))
                    {
                        <hr style=" border-top:1px so;id #8c8b8b;" />
                        <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding-top:5%; margin-right:0px; padding-right:0px;">
                            @Html.DropDownListFor(model => model.child.Child_StepCodeID, new SelectList(Model.Child_declinedSteps_ddl, "Value", "Text"), "Select Declined Step", new { @class = "form-control", style = "width: 100%;", @id = "StepCodeDropdown" })

                        </div>
                            <div class="col-xs-12 colsm-12 col-md-2 col-xl-2" style="padding-top:5%; padding-left:2px; margin-left:2px;">
                                <input type="button" value="Submit Decline" id="CompleteDeclinedStep" style="width:80%; background-color:orange; float:left" class="form-control font-weight-bold" />
                            </div>
                    }
                    <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding:2% 0 0 0">
                        <button id="req_attachbtn" class="btn btn-info btn-lg" style="margin-top: 40px; text-align: center;  padding: 5px;"  data-toggle="modal" data-target="#rModal" ><span class="glyphicon glyphicon-folder-open"></span> Attach File</button>
                    </div>*@

            if ((Model.Declines.Count() > 0))
            {
                <hr />
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                    <h4 style="color: red;">*** You must select the action step on the left side of the screen to correct the declined data.</h4>
                </div>
                if (Model.declinedContnetTypes.Count() > 0)
                {
                    <div class="col-xs-12 colsm-12 col-md-2 col-xl-2" style="padding-top:2%; padding-left:2px; margin-left:2px;">
                        <button id="req_attachbtn" class="btn btn-info btn-lg" style="text-align: center;  padding: 5px;" data-toggle="modal" data-target="#rModal"><span class="glyphicon glyphicon-folder-open"></span> Attach File</button>
                    </div>
                }
                <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding-top:2%; margin-right:0px; padding-right:0px;">
                    @Html.DropDownListFor(model => model.child.Child_StepCodeID, new SelectList(Model.Child_declinedSteps_ddl, "Value", "Text"), "Select Declined Step", new { @class = "form-control", style = "width: 100%;", @id = "StepCodeDropdown" })

                </div>
                    <div id="CompleteDeclineDiv" class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding-top:2%; padding-left:5px;">
                        <input type="button" value="Complete Decline" id="CompleteDeclinedStep" style="width:80%; background-color:orange; float:left" class="form-control font-weight-bold" />
                    </div>
            }
            else
            {
                <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding:2% 0 0 0">
                    <button id="req_attachbtn" class="btn btn-info btn-lg" style="margin-top: 40px; text-align: center;  padding: 5px;" data-toggle="modal" data-target="#rModal"><span class="glyphicon glyphicon-folder-open"></span> Attach File</button>
                </div>
                }
            }
            else if (ViewBag.Module == "ChildRecord")
            {
                <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding:2% 0 0 0">
                    <button id="req_attachbtn" class="btn btn-info btn-lg" style="margin-top: 40px; text-align: center;  padding: 5px;" data-toggle="modal" data-target="#rModal"><span class="glyphicon glyphicon-folder-open"></span> Replace File</button>
                </div>
            }
            <div id="req_attachdocs" class="col-xs-12 colsm-12 col-md-9 col-xl-9" style="padding:1% 1%">
                @if (Model.AlreadyUploadedDocuments != null && Model.AlreadyUploadedDocuments.Count() > 0)
                {
                    foreach (var document in Model.AlreadyUploadedDocuments)
                    {
                        string value = "ContentType_" + document.ContentTypeID + "_AlreadyUploaded";
                        <div id=@document.ContentTypeID class="thumbnail">
                            <span>@document.FileName.Split('_')[0]</span>
                            <img src="data:image/png;base64, @document.UserID" title=@document.FileName alt=@document.FileName id=@document.ContentTypeID data-contenttype=@value float="left" margin-right="10px" class="image" />
                            <span>@document.FileName.Split('_')[1]</span>
                            @if (ViewBag.Module != "ChildRecord")
                            {
                                <button id=@document.ContentTypeID value=@value class="thumb btn">Remove</button>
                            }
                        </div>
                    }
                }
            </div>

            <!-- Modal -->
            <div class="modal fade" id="rModal" role="dialog">
                <div class="modal-dialog  modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Upload File</h4>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                                    <div class="row" style="padding-right:30%; padding-bottom:10%; margin-left:10%">
                                        <span>Choose File Type</span>
                                        <div class="editor-field">
                                            @if (ViewBag.Module == "Enrollment")
                                            {
                                                if (Model.declinedContnetTypes == null || Model.declinedContnetTypes.Count() == 0)
                                                {
                                                    @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.RequiredContentTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.declinedContnetTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                                }
                                            }
                                            @if (ViewBag.Module == "Update")
                                            {
                                                if (Model.declinedContnetTypes == null || Model.declinedContnetTypes.Count() == 0)
                                                {

                                                    @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.RequiredContentTypesUpdate, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.declinedContnetTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                                }
                                            }
                                            @if (ViewBag.Module == "Translate")
                                            {
                                                @Html.DropDownListFor(model => model.child.Child_StepCodeID, new SelectList(Model.Child_workflowteps_ddl, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "TranslateDropDown" })
                                            }
                                            @if (ViewBag.Module == "ChildRecord")
                                            {
                                                @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.RequiredContentTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "req_fileSelect" })
                                            }
                                        </div>
                                    </div>
                                    <div class="row" style="padding-right:30%; padding-bottom:10%; margin-left:10%; display:block " id="MleUploadDiv">
                                        @*<div class="col-xs-12 colsm-12 col-md-5 col-xl-5">@Html.LabelFor(model => model.child.TranslatedMLE)</div>*@
                                        <div class="col-xs-12 colsm-12 col-md-7 col-xl-7">
                                            @Html.TextAreaFor(model => model.child.TranslatedMLE, new { maxlength = 200, style = "min-width:650px; height:500px;", @id = "MLE" })
                                        </div>
                                        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="margin:1px;">
                                            @*<button class="btn btn-default" data-dismiss="modal" id="req_ok" style="width:100%">OK</button>*@
                                            <button class="btn btn-default form-control font-weight-bold" data-dismiss="modal" id="SubmitMLETranslation" style="width:500px; background-color:orange;padding:1px; margin:1px;">Submit</button>
                                            @*<input type="button" value="Submit" id="SubmitMLETranslation" style="width:100%; background-color:orange;padding:1px; margin:1px;" class="form-control font-weight-bold" />*@
                                        </div>
                                    </div>
                                    <div class="row" style="padding-right:30%; padding-bottom:10%; margin-left:10%; display:block " id="CanvasDiv">
                                        <canvas id="crop_preview" width=150 height=200 overflow=hidden></canvas>
                                    </div>
                                    <div class="row" style="padding-right:5%; margin-left:10%;" id="MsgDiv">
                                        <span id="image_valMsg" style="color:red;width:100%"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 colsm-12 col-md-8 col-xl-8" id="UploadDocDiv">
                                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 avatar-view">
                                        <img id="req_org_image" />
                                    </div>
                                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 fileUpload" style="margin-bottom:10px; ">
                                        <label class="btn btn-info" style="width:100%">
                                            <span>Choose File</span>
                                            <input type="file" class="upload" id="req_uploadfiles" />
                                        </label>
                                    </div>
                                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                                        <button class="btn btn-default" data-dismiss="modal" id="req_ok" style="width:100%">OK</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" value="clear" data-dismiss="modal" id="closebtn">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="OptFiles">
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding:2% 0 0 0">
                <button id="opt_attachbtn" class="btn btn-info btn-lg" style="margin-top: 40px;text-align: center;  padding: 5px; " data-toggle="modal" data-target="#oModal"><span class="glyphicon glyphicon-folder-open"></span> Attach File</button>
            </div>
            <div id="opt_attachdocs" class="col-xs-12 colsm-12 col-md-9 col-xl-9" style="padding:1% 1%">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="oModal" role="dialog">
                <div class="modal-dialog  modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Upload File</h4>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
                                    <div class="row" style="padding-right:30%; padding-bottom:10%;margin-left:10%">
                                        <span>Choose File Type</span>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(model => model.uploadDocument.ContentType.Content_Type_Code_ID, new SelectList(Model.OptionalContentTypes, "Value", "Text"), new { @class = "form-control", style = "width: 100%;", @id = "opt_fileSelect" })
                                        </div>
                                    </div>
                                    <div class="row" style="padding-right:30%;margin-left:10%; display:block ">
                                        <canvas id="crop_preview" width=150 height=200 overflow=hidden></canvas>
                                    </div>
                                </div>
                                <div class="col-xs-12 colsm-12 col-md-8 col-xl-8">
                                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 avatar-view">
                                        <img id="opt_org_image" />
                                    </div>
                                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12 fileUpload" style="margin-bottom:10px;">
                                        <label class="btn btn-info" style="width:100%">
                                            <span>Choose File</span>
                                            <input type="file" class="upload" id="opt_uploadfiles" />
                                        </label>
                                    </div>
                                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                                        <button class="btn btn-default" data-dismiss="modal" id="opt_ok" style="width:100%">OK</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" value="clear" data-dismiss="modal" id="closebtn">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

