﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Feed The Children</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/redmond/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/redmond/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Custom scripts library -->
    @Scripts.Render("~/bundles/customjs")

    <script>
        var auth = @Request.IsAuthenticated.ToString().ToLower();
        if (auth)
        {
            var sessionTimeoutWarning = @Session.Timeout-1;
            var sessionTimeout = @Session.Timeout;
            var timeOnPageLoad = new Date();

            //For warning
            setTimeout('SessionWarning()', parseInt(sessionTimeoutWarning) * 60 * 1000);
            //To redirect to the welcome page
            setTimeout('RedirectToWelcomePage()', parseInt(sessionTimeout) * 60 * 1000);

            //Session Warning
            function SessionWarning() {
                //minutes left for expiry
                var minutesForExpiry = (parseInt(sessionTimeout) -
                    parseInt(sessionTimeoutWarning));
                var message = "Your session will expire in another " + minutesForExpiry +
                    " minute(s)! Please Save the data before the session expires";
                alert(message);
            }

            //Session timeout
            function RedirectToWelcomePage() {
                alert("Session expired. You will be redirected to welcome page");
                document.getElementById("pangeaLogoutbtn").click();
            }
        }

        var message = @Html.Raw(Json.Encode(Model.DisplayMessage));
        var declinedSteps =  @Html.Raw(Json.Encode(Model.Declines.Count));
        //This function calls the server and gets the location names and location IDs based on the country selected by the user.
        $(function () {
            if(message != null && message != " ")
            {
                $('#validationMsgs').html(message);
            }
            $('#child_CountryId').change(function () {
                //Clear the following fields for validation rules
                if(declinedSteps == "0"){
                    $('#child_DateOfBirth').val('');
                    $('#child_GradeLevelCodeID').val('');
                    $('#child_ChoreCodeID').val('');
                    $('#child_ChoreCodeID').trigger("chosen:updated");
                }
                //Send a ajax request to get location names and location codes using Country ID
                $.ajax({
                    url: '@Url.Action("GetLocationsByCountry", "PanMain")',
                    data: {
                        id: $("#child_CountryId").val()
                    },
                    error: function () {
                        if ($('#child_CountryId option:selected').text() == "Select Country") {
                            $('#child_LocationName').empty().append("<option  selected disabled>Select Location</option>");
                            $('#child_LocationCodeID').empty().append("<option  selected disabled>Select Location Code</option>");
                        }
                        else {
                            alert('An error has occurred - Locations');
                        }
                    },
                    dataType: 'json',
                    success: function (data) {
                        var items = '<option  value="" selected>Select Location</option>';
                        $.each(data[0], function (i, Location) {
                            items += "<option value='" + Location.Value + "'>" + Location.Text + "</option>";
                        });
                        var items2 = '<option  value="" selected>Select Location Code</option>';
                        $.each(data[1], function (i, LocationCode) {
                            items2 += "<option value='" + LocationCode.Value + "'>" + LocationCode.Text + "</option>";
                        });
                        $('#child_LocationName').html(items);
                        $('#child_LocationCodeID').html(items2);
                    },
                    type: 'GET'
                });
            });
        });

        //This function setups the dropdown options for Chores, Favorite activities, Grade and Favorite learning in Update mode.
        //It also setups the default values for Grade and Chore fields based on date of birth selected along with country ID.
        $(function () {
            $('#child_DateOfBirth').change(function () {

                //alert($('#declines_IsDeclinedEnrollmentInfo').val());
                // alert(declinedSteps);
                if(declinedSteps == "0"){
                    var dob = $('#child_DateOfBirth').val();
                    this.age = calculateAge(dob);
                    //Send a ajax request to get location names and location codes using Country ID
                    $.ajax({
                        context: this,
                        url: '@Url.Action("GetFieldData", "PanMain")',
                        data: {
                            age: this.age
                        },
                        error: function () {
                            if ($('#child_CountryId option:selected').text() == "Select Country") {
                                $('#child_LocationName').empty().append("<option  selected disabled>Select Location</option>");
                                $('#child_LocationCodeID').empty().append("<option  selected disabled>Select Location Code</option>");
                            }
                            else {
                                alert('An error has occurred - DOB');
                            }
                        },
                        dataType: 'json',
                        success: function (data) {
                            var grades = '<option  value="" selected>Grade Level</option>';
                            $.each(data[0], function (i, Grade) {
                                grades += "<option value='" + Grade.Value + "'>" + Grade.Text + "</option>";
                            });
                            var chores = '<option  value=""></option>';
                            $.each(data[1], function (i, Chore) {
                                chores += "<option value='" + Chore.Value + "'>" + Chore.Text + "</option>";
                            });
                            var favActs = '<option  value=""></option>';
                            $.each(data[2], function (i, FavActs) {
                                favActs += "<option value='" + FavActs.Value + "'>" + FavActs.Text + "</option>";
                            });
                            var favLearn = '<option  value="" selected>Favorite Learning</option>';
                            $.each(data[3], function (i, FavLearn) {
                                favLearn += "<option value='" + FavLearn.Value + "'>" + FavLearn.Text + "</option>";
                            });
                            $('#child_GradeLevelCodeID').html(grades);
                            $('#child_ChoreCodeID').html(chores);
                            $('#child_ChoreCodeID').trigger("chosen:updated");
                            $('#child_FavoriteActivityCodeID').html(favActs);
                            $('#child_FavoriteActivityCodeID').trigger("chosen:updated");
                            $('#child_FavoriteLearningCodeID').html(favLearn);
                            var Age = this.age;
                            if ($('#module_name').val() == "Enrollment") {
                                var CountryId = $("#child_CountryId").val();
                                var hiddenId = $("#hiddenMinSchoolAge_" + CountryId);
                                if ((Age <= hiddenId.val() / 365)) {
                                    $('#child_GradeLevelCodeID option').filter(function () {
                                        return $(this).html() == "Too Young for School";
                                    }).prop('selected', true);
                                }
                                else {
                                    $('#child_GradeLevelCodeID option').filter(function () {
                                        return $(this).html() == "Too Young for School";
                                    }).prop('selected', false);
                                }
                                if ((Age <= ($("#hiddenDefaultString_ChoreCodeID").prop('max')) / 365) && ($("#hiddenDefaultString_ChoreCodeID").prop('placeholder') != null)) {
                                    $('#child_ChoreCodeID option').filter(function () {
                                        return $(this).html() == $("#hiddenDefaultString_ChoreCodeID").prop('placeholder').toString();
                                    }).prop('selected', true);
                                    $('#child_ChoreCodeID').trigger("chosen:updated");
                                }
                                else {
                                    $('#child_ChoreCodeID option').filter(function () {
                                        return $(this).html() == $("#hiddenDefaultString_ChoreCodeID").prop('placeholder').toString();
                                    }).prop('selected', false);
                                    $('#child_ChoreCodeID').trigger("chosen:updated");
                                }
                            }
                        },
                        type: 'GET'
                    });
                }
            });
        });


        // This function uploads the Required files to the server and shows a thumbnail on the UI.
        //If the uploaded file is an image, it also takes the crop coordinates stored in the hidden fields.
        $(function () {
            $("#req_ok").click(function () {
                var file = $("#req_uploadfiles").prop('files')[0];
                if ($('#module_name').val() == "Translate") {
                    var contenttypeID = "Translation For " + $("#TranslateDropDown").val();
                    var contnetTypeNmae = $("#TranslateDropDown option:selected").text();
                } else {
                    var contenttypeID = $("#req_fileSelect").val();
                    var contnetTypeNmae = $("#req_fileSelect option:selected").text();
                }

                var childID = $('#child_ChildID').prop('value');

                if ($('#module_name').val() == "Enrollment") {
                    var childId = $('#child-ID').text();
                    $('#child_ChildID').prop('value', childId);

                    if($('#child-ID').text() != undefined){
                        childID = childId;
                    }
                }
                var formData = new FormData();
                formData.append('file', file);
                formData.append('ContentTypeID', contenttypeID);
                formData.append('ChildID', childID);
                formData.append('ImgCropArea_X1', $('#crop_x1').prop('value'));
                formData.append('ImgCropArea_Y1', $('#crop_y1').prop('value'));
                formData.append('ImgCropArea_Width', $('#crop_width').prop('value'));
                formData.append('ImgCropArea_Height', $('#crop_height').prop('value'));
                formData.append('Module', $('#module_name').val());


                for (var p of formData) {
                    console.log(p);
                }
                $.ajax({
                    url: '@Url.Action("UploadAFile", "PanMain")',
                    type: 'POST',
                    data: formData,
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    success: function (result) {
                        var data = JSON.parse(result);
                        if (data.Success == true) {
                            $("<div>", { "id": data.Id })
                            .append("<span>" + contnetTypeNmae + "</span>")
                            .append($("<img>", {
                                "src": "data:image/png;base64," + data.Image,
                                "title": data.Name,
                                "alt": data.Name,
                                "id": data.Id,
                                "data-contenttype": data.Key,
                                "float": "left",
                                "margin-right": "10px"
                            }).addClass('image')).append("<span>" + data.Name + "</span>").append($("<button" + " id =" + data.Id + " value =" + data.Key + ">" + "Remove" + "</button>").addClass('thumb').addClass('btn')).addClass('thumbnail')
                            .appendTo("#req_attachdocs");
                            $('#req_fileSelect option').filter(function () {
                                return $(this).val() == data.Id.toString();
                            }).prop('disabled', true).prop('selected', false);
                            if ($('#module_name').val() == "Translate") {
                                $('#TranslateDropDown option').filter(function () {
                                    return $(this).val() == data.Id.toString();
                                }).prop('disabled', true).prop('selected', false);
                            }
                            $('#req_fileSelect').val('');
                            $('#req_uploadfiles').val('');
                            $('#req_uploadfiles').prop('disabled', true);
                            $('#req_ok').prop('disabled', true);
                        }
                        else {
                            alert(data.Message);
                        }
                    },
                    processData: false,
                    contentType: false
                });

            });
        });
        //This function deletes the uploaded Required files on clicking the 'Remove' button.
        $(function () {
            $('#req_attachdocs').on('click', '.btn', function () {
                self = $(this);
                var Key = $(this).val();
                if (Key == "MLE") {
                    $('#MLE').val("");
                    self.parent().remove();
                } else {
                    var childID = $('#child_ChildID').prop('value');
                    ContentTypeID = $(this).prop('id');
                    profileImage = $('#child_profileImage').prop('id');
                    var formData = new FormData();
                    formData.append('childID', childID);
                    formData.append('ContentTypeID', ContentTypeID);
                    formData.append('Key', Key);
                    formData.append('Module', $('#module_name').val());

                    $.ajax({
                        url: '@Url.Action("RemoveAFile", "PanMain")',
                        type: 'POST',
                        data: formData,
                        error: function (jqXHR, textStatus, errorMessage) {
                            console.log(errorMessage);
                        },
                        success: function (data) {
                            if (data.Success == true) {
                                $('#req_fileSelect option').filter(function () {
                                    return $(this).val() == data.Id.toString();
                                }).prop('disabled', false);
                                var fileoption = $('#req_fileSelect option').filter(function () {
                                    return $(this).val() == ContentTypeID;
                                }).text();
                                if (fileoption.toString() == "Profile") {
                                    $('#child_profileImage').attr('src', "/Content/themes/base/images/avatar.png");
                                }
                                self.parent().remove();
                            }
                        },
                        processData: false,
                        contentType: false
                    });
                }
            });
        });
        // This function uploads the Optional files to the server and shows a thumbnail on the UI.
        $(function () {
            $("#opt_ok").click(function () {
                var file = $("#opt_uploadfiles").prop('files')[0];
                var contenttypeID = $("#opt_fileSelect").val();
                var childID = $('#child_ChildID').prop('value');
                var formData = new FormData();
                formData.append('file', file);
                formData.append('ContentTypeID', contenttypeID);
                formData.append('ChildID', childID);
                for (var p of formData) {
                    console.log(p);
                }
                $.ajax({
                    url: '@Url.Action("UploadAFile", "PanMain")',
                    type: 'POST',
                    data: formData,
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    success: function (data) {
                        if (data.Success == true) {
                            $("<div>", { "id": data.Id })
                            .append($("<img>", {
                                "src": "data:image/png;base64," + data.Image,
                                "title": data.Name,
                                "alt": data.Name,
                                "id": data.Id,
                                "data-contenttype": data.Key,
                                "float": "left",
                                "margin-right": "10px"
                            }).addClass('image')).append("<span>" + data.Name + "</span>").append($("<button" + " id =" + data.Id + " value =" + data.Key + ">" + "Remove" + "</button>").addClass('thumb').addClass('btn')).addClass('thumbnail')
                            .appendTo("#opt_attachdocs");
                            $('#opt_fileSelect option').filter(function () {
                                return $(this).val() == data.Id.toString();
                            }).prop('disabled', true).prop('selected', false);
                            $('#opt_fileSelect').val('');
                            $('#opt_uploadfiles').val('');
                            $('#opt_uploadfiles').prop('disabled', true);
                            $('#opt_ok').prop('disabled', true);
                        }
                        else {
                            alert(data.Message);
                        }
                    },
                    processData: false,
                    contentType: false
                });

            });
        });
        //This function deletes the uploaded Optional files on clicking the 'Remove' button.
        $(function () {
            $('#opt_attachdocs').on('click', '.btn', function () {
                self = $(this);
                var childID = $('#child_ChildID').prop('value');
                var ContentTypeID = $(this).prop('id');
                var Key = $(this).val();
                var formData = new FormData();
                formData.append('childID', childID);
                formData.append('ContentTypeID', ContentTypeID);
                formData.append('Key', Key);
                $.ajax({
                    url: '@Url.Action("RemoveAFile", "PanMain")',
                    type: 'POST',
                    data: formData,
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    success: function (data) {
                        if (data.Success == true) {
                            $('#opt_fileSelect option').filter(function () {
                                return $(this).val() == data.Id.toString();
                            }).prop('disabled', false);
                            self.parent().remove();
                        }
                    },
                    processData: false,
                    contentType: false
                });
            });
        });
        //This function opens the uploaded Required or Optional files on clicking on the thumbnail
        $(function () {
            $('#req_attachdocs, #opt_attachdocs').on('dblclick', '.image', function () {
                self = $(this);
                var childID = $('#child_ChildID').prop('value');
                if ($('#module_name').val() == "Enrollment" || $('#module_name').val() == "ChildRecord") {
                    var childId = $('#child-ID').text();
                    $('#child_ChildID').prop('value', childId);
                    if ($('#child-ID').text() != undefined) {
                        childID = childId;
                    }
                }

                var ContentTypeID = $(this).prop('id');
                var Key = $(this).data('contenttype');
                var formData = new FormData();
                formData.append('childID', childID);
                formData.append('ContentTypeID', ContentTypeID);
                formData.append('Key', Key);
                if ($('#module_name').val() == "Translate") {
                    // TODO Will changed based on contnet type for translated letter and MLE
                    if (Key == null || Key == "undefined")
                    {
                        event.preventDefault();
                        var ChildID = $('#child-ID').text();
                        var fileID = $(this).data('fileid');
                        var win = window.open("", "new window", "width=500, height=300");
                        win.document.title = "MLE";
                        win.document.write('<html><body><div style =padding:1px; margin:1px;>');
                        win.document.write('<h4>Major Life Event Trnaslated </h4>');
                        win.document.write($('#MLE').val());
                        win.document.write('</div></body></html>');
                        layer = $(win.document);
                    }
                    else {
                        var url = '@Url.Action("DownloadLetter", "PanMain")?Key=' + Key;
                        window.open(url, '_parent', 'toolbar=0, location=0, menubar=0');
                        $('#validationMsgs').html("Downloaded Translated Letter.");
                    }
                } else {
                    $.ajax({
                        url: '@Url.Action("OpenAFile", "PanMain")',
                        type: 'POST',
                        data: formData,
                        error: function (jqXHR, textStatus, errorMessage) {
                            console.log(errorMessage);
                        },
                        success: function (data) {
                            var Data = JSON.parse(data);
                            if (Data.Success == true) {
                                var extension = Data.File.FileName.substr((Data.File.FileName.lastIndexOf('.') + 1));
                                if (extension.toLowerCase() === "jpg") {
                                    var doc;
                                    doc = $("<div style = 'width: 600px; height:800px'>")
                                    .append($("<img>", {
                                        "src": "data:image/png;base64," + Data.File.FileBytes,
                                        "title": Data.Name,
                                        "alt": Data.Name,
                                        "id": Data.File.ContentTypeID,
                                        "float": "left",
                                        "margin-right": "10px",
                                        "height": "100%",
                                        "width": "100%"
                                    }));
                                    var w = window.open("", "new window", "width=1000, height=900");
                                    w.document.write(doc[0].outerHTML);
                                }
                                else if (extension.toLowerCase() === "pdf") {
                                    var byteCharacters = atob(Data.File.FileBytes);
                                    var byteNumbers = new Array(byteCharacters.length);
                                    for (var i = 0; i < byteCharacters.length; i++) {
                                        byteNumbers[i] = byteCharacters.charCodeAt(i);
                                    }
                                    var byteArray = new Uint8Array(byteNumbers);
                                    var file = new Blob([byteArray], { type: 'application/pdf;base64' });
                                    var fileURL = URL.createObjectURL(file);

                                    window.open(fileURL, "new window", "width=1000, height=900");
                                }
                            }
                        },
                        processData: false,
                        contentType: false
                    });
                }
            });
        });

        //This function creates a child with the information provided by the user
        function createChild(id) {
            event.preventDefault();
            // Construct data string
            var formData = new FormData();
            formData.append("button.id", id);
            var childformDataArray = $("#childform").serializeArray();
            var enrollformDataArray = $("#enrollform").serializeArray();
            for (var i = 0; i < childformDataArray.length; i++) {
                var formDataItem = childformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }
            for (var i = 0; i < enrollformDataArray.length; i++) {
                var formDataItem = enrollformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }
            var chosenData = $("#child_ChoreCodeID").chosen().val();
            if (chosenData.length == 0)
            { formData.append('child.ChoreCodeID', ""); }
            var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            if (favActData.length == 0)
            { formData.append('child.FavoriteActivityCodeID', ""); }
            console.log(formData);
            // Do AJAX
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "PanMain")',
                data: formData,
                success: function (data) {
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                    if (data.ID != undefined || data.ID != null) {
                        var childID = data.ID.toString();
                        $('#child_ChildID').prop('value', childID);
                        $('#child-ID').text(childID);
                        $('#req_attachbtn').prop('disabled', false);
                        $('#opt_attachbtn').prop('disabled', false);
                        $('#AdditionalInformationTab').attr('class', 'active');
                    }
                    $('#Msgs').html(Msg);
                    var validmsgs = '<ul style="color:red"></ul>';
                    $.each(data.validationResult, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });

                    $.each(data.fileValidationResult, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });

                    $('#validationMsgs').html(validmsgs);
                    if ((id == "child_enrollscreen"  || id == "child_submitDeclinedChildInfo") && data.ID != undefined) {
                        $('#AdditionalInformationTab').trigger('click');
                    }
                    if (data.duplicates.length > 1) {
                        for (var i = 0; i < data.duplicates.length; i++) {
                            $('#duplicateChilds').append('<tr><td>' + data.duplicates[i].Code + '</td><td>' + data.duplicates[i].Description + '</td></tr>');
                        }
                        $('#duplicateRecordsModal').modal('show');
                        var remove_yesurl = '@Url.Action("DeleteChildEnrollment", "PanMain")';
                        $('#removeduplicateChild_yes').attr('data-path', remove_yesurl);
                        var remove_nourl = '@Url.Action("Save", "PanMain")';
                        $('#removeduplicateChild_no').attr('data-path', remove_nourl);
                    }
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        }

        //This function is used to save the progress in child enrollment.
        function saveEnrollment(id) {
            event.preventDefault();
            // $("#divLoading").html('<image src="../Content/ajax-loader.gif" alt="Loading, please wait" />');
            // Construct data string
            $('#CompleteDeclineDiv :input').removeAttr('disabled');
            var formData = new FormData();
            formData.append("button.id", id);

            //var chosenData = $("#child_ChoreCodeID").chosen().val();
            //if (chosenData.length == 0)
            //{ formData.append('child.ChoreCodeID', ""); }
            //var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            //if (favActData.length == 0)
            //{ formData.append('child.FavoriteActivityCodeID', ""); }
            // }
            var childformDataArray = $("#childform").serializeArray();
            var enrollformDataArray = $("#enrollform").serializeArray();
            for (var i = 0; i < childformDataArray.length; i++) {
                var formDataItem = childformDataArray[i];
                if (formDataItem.name == "child.ChildID") {
                    formDataItem.value = $('#child-ID').text();
                }
                if((id == "child_saveDeclinedChildInfo" || id =="enroll_saveDeclinedEnrollmentInfo") && (formDataItem.name == "child.ChildNumber")){
                    formDataItem.value = $("#child-Number").text();
                }
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }
            for (var i = 0; i < enrollformDataArray.length; i++) {
                var formDataItem = enrollformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }
            var chosenData = $("#child_ChoreCodeID").chosen().val();
            if (chosenData.length == 0)
            { formData.append('child.ChoreCodeID', ""); }
            var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            if (favActData.length == 0)
            { formData.append('child.FavoriteActivityCodeID', ""); }
            //if(id == "child_saveDeclinedChildInfo"){
            //    alert(id);
            //    alert($("#child-Number").text());
            //    formData.append('child.ChildNumber', $("#child-Number").text());
            //}
            //add these keys only if the child information does not have these keys already populated
            //if(id =="enroll_saveDeclinedEnrollmentInfo" && formData["declines.IsDeclinedChildInfo"] != 1 ){
            //    formData.append('child.LocationCodeID', $("#child_LocationCodeID").val());
            //    formData.append('child.OtherNameGoesBy', $("#child_OtherNameGoesBy").val());
            //}
            console.log(formData);
            // Do AJAX
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save", "PanMain")',
                data: formData,
                success: function (data) {
                    //onComplete();
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                    if (data.ID != undefined || data.ID != null) {
                        var childID = data.ID.toString();
                        $('#child_ChildID').prop('value', childID);
                        $('#child-ID').text(childID);
                    }
                    $('#Msgs').html(Msg);
                    var validmsgs = '<ul style="color:red"></ul>';
                    $.each(data.validationResult, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $.each(data.FileValidation, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $('#validationMsgs').html(validmsgs);
                    if ((id == "child_enrollscreen") && data.ID != undefined) {
                        $('#AdditionalInformationTab').trigger('click');
                    }
                    if (data.duplicates.length > 1) {
                        for (var i = 0; i < data.duplicates.length; i++) {
                            $('#duplicateChilds').append('<tr><td>' + data.duplicates[i].Code + '</td><td>' + data.duplicates[i].Description + '</td></tr>');
                        }
                        $('#duplicateRecordsModal').modal('show');
                        var remove_yesurl = '@Url.Action("DeleteChildEnrollment", "PanMain")';
                        $('#removeduplicateChild_yes').attr('data-path', remove_yesurl);
                        var remove_nourl = '@Url.Action("Save", "PanMain")';
                        $('#removeduplicateChild_no').attr('data-path', remove_nourl);
                    }
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        }


        function Update_Validations(formData)
        {
            var the_error_Msg = "";

            var the_GradeLevelCodeID = formData.get("child.GradeLevelCodeID");

            var Has_GradeLevelCodeID = the_GradeLevelCodeID.length > 0;

            if(!Has_GradeLevelCodeID)
            {
               the_error_Msg += "Your submission doesn't have a School Grade assigned. ";
            }

            var the_MajorLifeEvent = formData.get("child.MajorLifeEvent");

            var Has_MajorLifeEvent = the_MajorLifeEvent.length > 0;


            if(!Has_MajorLifeEvent)
            {
               the_error_Msg += "Your submission doesn't have a Major Life Event assigned. ";
            }

            return the_error_Msg; 
        }

        //This function is used to save the progress in child update.
        function saveUpdate(id) {
            event.preventDefault();
            // Construct data string
            var formData = new FormData();
            formData.append("button.id", id);
            formData.append('child.ChildID', $("#child-ID").text());
            formData.append('child.LocationCodeID', $("#child_LocationCodeID").val());
            var enrollformDataArray = $("#enrollform").serializeArray();
            for (var i = 0; i < enrollformDataArray.length; i++) {
                var formDataItem = enrollformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }

            var validation_result = Update_Validations(formData);

            var Is_Validated = validation_result.length == 0;

            if (!Is_Validated)
            {
                alert("Data Entry Errors. Please revise. \r\n \r\n" + validation_result);

                return;
            }

            var chosenData = $("#child_ChoreCodeID").chosen().val();
            if (chosenData.length === 0)
            { formData.append('child.ChoreCodeID', ""); }
            var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            if (favActData.length === 0)
            { formData.append('child.FavoriteActivityCodeID', ""); }
            console.log(formData);
            $('#CompleteDeclineDiv :input').removeAttr('disabled');
            // Do AJAX
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveUpdate", "PanMain")',
                data: formData,
                success: function (data) {
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                    if (data.ID != undefined || data.ID != null) {
                        var childID = data.ID.toString();
                        $('#child_ChildID').prop('value', childID);
                        $('#child-ID').text(childID);
                    }
                    if (id != "enroll_saveDeclinedUpdate") {
                        location.reload(true);
                    }
                    $('#Msgs').html(Msg);
                    var validmsgs = '<ul style="color:red"></ul>';
                    $.each(data.validationResult, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $.each(data.FileValidation, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $('#validationMsgs').html(validmsgs);
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        }
        //This function is used to submit the child enrollment.
        function submitEnrollment(id) {
            event.preventDefault();
            // Construct data string
            var formData = new FormData();
            var childformDataArray = $("#childform").serializeArray();
            var enrollformDataArray = $("#enrollform").serializeArray();
            for (var i = 0; i < childformDataArray.length; i++) {
                var formDataItem = childformDataArray[i];
                if (formDataItem.name == "child.ChildID") {
                    formDataItem.value = $('#child-ID').text();
                }
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }
            for (var i = 0; i < enrollformDataArray.length; i++) {
                var formDataItem = enrollformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }

            var chosenData = $("#child_ChoreCodeID").chosen().val();
            if (chosenData.length == 0)
            { formData.append('child.ChoreCodeID', ""); }
            var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            if (favActData.length == 0)
            { formData.append('child.FavoriteActivityCodeID', ""); }

            console.log(formData);

            // Do AJAX
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Submit", "PanMain")',
                data: formData,
                success: function (data) {
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                    if (data.ID != undefined || data.ID != null) {
                        var childID = data.ID.toString();
                        $('#child_ChildID').prop('value', childID);
                        $('#child-ID').text(childID);
                    }
                    if (data.Number != undefined || data.Number != null) {
                        var childNumber = data.Number.toString();
                        $('#child_ChildNumber').prop('value', childNumber);
                        $('#child-Number').text(childNumber);
                    }
                    $('#Msgs').html(Msg);
                    var validmsgs = '<ul style="color:red"></ul>';
                    $.each(data.validationResult, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $.each(data.FileValidation, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $('#validationMsgs').html(validmsgs);
                    if (data.Success == true) {
                        location.href = '@Url.Action("EnrollmentWorklist", "PanMain")';
                        //$('#childTab').trigger('click');
                        //$('#child_saveprogress. #child_saveDeclinedChildInfo').prop('disabled', true);
                        //$('#child_enrollscreen, #child_submitDeclinedChildInfo').prop('disabled', true);
                        //$('#enroll_saveprogress, #enroll_saveDeclinedEnrollmentInfo').prop('disabled', true);
                        //$('#enroll_submitenrollment, enroll_submitDeclinedEnrollmentInfo').prop('disabled', true);
                        //$('#req_attachbtn').prop('disabled', true);
                        //$('#opt_attachbtn').prop('disabled', true);
                        //$('#req_attachdocs').off('click', '.btn');
                        //$('#opt_attachdocs').off('click', '.btn');
                    }
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        }
        //This function is used to submit the child update.
        function submitUpdate(id) {
            event.preventDefault();
            // Construct data string
            var formData = new FormData();
            formData.append("button.id", id);
            formData.append('child.ChildID', $("#child-ID").text());
            formData.append('child.LocationCodeID', $("#child_LocationCodeID").val());
            var enrollformDataArray = $("#enrollform").serializeArray();
            for (var i = 0; i < enrollformDataArray.length; i++) {
                var formDataItem = enrollformDataArray[i];
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
            }
                

            var validation_result = Update_Validations(formData);

            var Is_Validated = validation_result.length == 0;

            if (!Is_Validated)
            {
                alert("Data Entry Errors. Please revise. \r\n \r\n" + validation_result);

                return;
            }


            var chosenData = $("#child_ChoreCodeID").chosen().val();
            if (chosenData.length == 0)
            { formData.append('child.ChoreCodeID', ""); }
            var favActData = $("#child_FavoriteActivityCodeID").chosen().val();
            if (favActData.length == 0)
            { formData.append('child.FavoriteActivityCodeID', ""); }
            console.log(formData);
            // Do AJAX
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SubmitUpdate", "PanMain")',
                data: formData,
                success: function (data) {
                    console.log(data);
                    if (data.Message != undefined || data.Message != null) {
                        var Msg = data.Message;
                    }
                    if (data.ID != undefined || data.ID != null) {
                        var childID = data.ID.toString();
                        $('#child_ChildID').prop('value', childID);
                        $('#child-ID').text(childID);
                    }
                    if (data.Number != undefined || data.Number != null) {
                        var childNumber = data.Number.toString();
                        $('#child_ChildNumber').prop('value', childNumber);
                        $('#child-Number').text(childNumber);
                    }
                    $('#Msgs').html(Msg);
                    var validmsgs = '<ul style="color:red"></ul>';
                    $.each(data.validationResult, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $.each(data.FileValidation, function (k, v) {
                        validmsgs += "<li>" + v + "</li>";
                    });
                    $('#validationMsgs').html(validmsgs);
                    if (data.Success == true) {
                        location.href = '@Url.Action("Update", "PanMain")';
                        //$('#enroll_saveupdate').prop('disabled', true);
                        //$('#enroll_submitupdate').prop('disabled', true);
                        //$('#req_attachbtn').prop('disabled', true);
                        //$('#opt_attachbtn').prop('disabled', true);
                        //$('#req_attachdocs').off('click', '.btn');
                        //$('#opt_attachdocs').off('click', '.btn');
                    }
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                },
                processData: false,
                contentType: false
            });
        }
        //This function calls the 'createChild' function on click of a button.
        $(function () {
            $("#child_saveprogress, #child_enrollscreen, #child_saveDeclinedChildInfo").on('click', function () {
                var childID = $('#child-ID').text();
                if ($('#child-ID').text().length == 0) {
                    createChild($(this).prop('id'));
                }
                else
                {
                    saveEnrollment($(this).prop('id'));
                }
            });
        });

        @*$(function () {
            $(" #child_saveDeclinedChildInfo").on('click', function () {
                event.preventDefault();
                var formData = new FormData();
                formData.append("button.id", $(this).prop('id'));
                var childformDataArray = $("#childform").serializeArray();
                for (var i = 0; i < childformDataArray.length; i++) {
                    var formDataItem = childformDataArray[i];
                    if (formDataItem.name == "child.ChildID") {
                        formDataItem.value = $('#child-ID').text();
                    }
                }
                console.log(formDataItem);
                formData.append(formDataItem.name, formDataItem.value);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveDeclinedChildInformation", "PanMain")',
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        if (data.Message != undefined || data.Message != null) {
                            var Msg = data.Message;
                        }
                        if (data.ID != undefined || data.ID != null) {
                            var childID = data.ID.toString();
                            $('#child_ChildID').prop('value', childID);
                            $('#child-ID').text(childID);
                        }
                        $('#Msgs').html(Msg);
                        var validmsgs = '<ul style="color:red"></ul>';
                        $.each(data.validationResult, function (k, v) {
                            validmsgs += "<li>" + v + "</li>";
                        });
                        $.each(data.FileValidation, function (k, v) {
                            validmsgs += "<li>" + v + "</li>";
                        });
                        $('#validationMsgs').html(validmsgs);
                        if (data.duplicates.length > 1) {
                            for (var i = 0; i < data.duplicates.length; i++) {
                                $('#duplicateChilds').append('<tr><td>' + data.duplicates[i].Code + '</td><td>' + data.duplicates[i].Description + '</td></tr>');
                            }
                            $('#duplicateRecordsModal').modal('show');
                            var remove_yesurl = '@Url.Action("DeleteChildEnrollment", "PanMain")';
                            $('#removeduplicateChild_yes').attr('data-path', remove_yesurl);
                            var remove_nourl = '@Url.Action("Save", "PanMain")';
                            $('#removeduplicateChild_no').attr('data-path', remove_nourl);
                        }
                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    processData: false,
                    contentType: false
                });
            });
        });*@

        //This function calls the 'saveEnrollment' function on click of a button.
        $(function () {
            $("#enroll_saveprogress, #enroll_saveDeclinedEnrollmentInfo").on('click', function () {
                saveEnrollment($(this).prop('id'));
            });
        });
        //This function calls the 'submitEnrollment' function on click of a button.
        $(function () {
            $("#enroll_submitenrollment").on('click', function () {
                if ($('#Confirm_NonDups').val() == "false") {
                    submitEnrollment($(this).prop('id'));
                }
                else {
                    saveEnrollment($(this).prop('id'));
                }
            });
        });
        //This function calls the 'saveUpdate' function on click of a button.
        $(function () {
            $('#enroll_saveupdate, #enroll_saveDeclinedUpdate').on('click', function () {
                saveUpdate($(this).prop('id'));
            });
        });
        //This function calls the 'submitUpdate' function on click of a button.
        $(function () {
            $("#enroll_submitupdate").on('click', function () {
                submitUpdate($(this).prop('id'));
            });
        });

        //This function deletes the child record which is pending for update.
        $(function () {
            $('#child_yesremove').click(function () {
                var childID = $('#remove_childID').prop('value');
                var RemoveReasonID = $('#child_RemoveReasonCodeID').val();
                var formData = new FormData();
                formData.append('childID', childID);
                formData.append('RemoveReasonID', RemoveReasonID);
                $.ajax({
                    url: '@Url.Action("DeleteUpdate", "PanMain")',
                    type: 'POST',
                    data: formData,
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    success: function (data) {
                        var Data = JSON.parse(data);
                        if (Data.Success === true) {
                            $('#validationMsgs').html("");
                            $('#Menu_Update')[0].click();
                            $('#Msgs').html(Data.Message);
                        }
                        else {
                            $('#validationMsgs').html(Data.Message);
                        }
                    },
                    processData: false,
                    contentType: false
                });
            });
        });

        //This function deletes the child record which is pending for update.
        $(function () {
            $('#enrollment_yesremove').click(function () {
                var childID = $('#remove_childID').prop('value');
                var RemoveReasonID = $('#child_RemoveReasonCodeID').val();
                var formData = new FormData();
                formData.append('childID', childID);
                formData.append('RemoveReasonID', RemoveReasonID);
                $.ajax({
                    url: '@Url.Action("DeleteChildEnrollment", "PanMain")',
                    type: 'POST',
                    data: formData,
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    success: function (data) {
                        var Data = JSON.parse(data);
                        if (Data.Success == true) {
                            $('#validationMsgs').html("");
                            $('#Menu_Enrollment')[0].click();
                            $('#Msgs').html(Data.Message);
                        }
                        else {
                            $('#validationMsgs').html(Data.Message);
                        }
                    },
                    processData: false,
                    contentType: false
                });
            });
        });

        //This function loads the quality control documents on clicking the links in the QC side navigation
        $(function () {
            $('.qcfilelink').click(function () {
                event.preventDefault();
                var ChildID = $('#child-ID').text();
                var fileID = $(this).data('fileid');
                var formData = new FormData();
                formData.append('ChildID', ChildID);
                formData.append('fileID', fileID);

                //if (this.id == "decliedProfile") {
                //    $('#Profile').show();
                //}
                //if (this.id == "decliedAction") {
                //    $('#Action').show();
                //}
                //if (this.id == "decliedArt") {
                //    $('#Art').show();
                //}
                //if (this.id == "decliedLetter") {
                //    $('#Letter').show();
                //}
                //if (this.id == "decliedConsent") {
                //    $('#Consent').show();
                //}
                $.ajax({
                    url: '@Url.Action("LoadQCFile", "PanMain")',
                    type: 'POST',
                    data: formData,
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    },
                    success: function (data) {
                        var Data = JSON.parse(data);
                        if (Data.Success === true) {
                            var extension = Data.File.FileName.substr((Data.File.FileName.lastIndexOf('.') + 1));
                            if (extension.toLowerCase() === "jpg") {
                                var doc;
                                doc = $("<div style = 'width: 600px; height:800px' >")
                                .append($("<img>", {
                                    "src": "data:image/png;base64," + Data.File.FileBytes,
                                    "title": Data.Name,
                                    "alt": Data.Name,
                                    "id": Data.File.ContentTypeID,
                                    "float": "left",
                                    "margin-right": "10px",
                                    "height": "100%",
                                    "width": "100%"
                                }));
                                var w = window.open("", "new window", "width=1000, height=900");
                                w.document.write(doc[0].outerHTML);
                            }
                            else if (extension.toLowerCase() === "pdf") {
                                var byteCharacters = atob(Data.File.FileBytes);
                                var byteNumbers = new Array(byteCharacters.length);
                                for (var i = 0; i < byteCharacters.length; i++) {
                                    byteNumbers[i] = byteCharacters.charCodeAt(i);
                                }
                                var byteArray = new Uint8Array(byteNumbers);
                                var file = new Blob([byteArray], { type: 'application/pdf;base64' });
                                var fileURL = URL.createObjectURL(file);

                                window.open(fileURL, "new window", "width=1000, height=900");
                            }
                        }
                    },
                    processData: false,
                    contentType: false
                });
            });
        });



        $(function () {
            $('#pangeaLoginbtn').click(function (e) {
                try
                {
                    location.href = '@Url.Action("SignIn","Home")';
                }
                catch (err)
                {
                    alert(err.message);
                }
            });
        });

        $(function () {
            $('#pangeaLogoutbtn').click(function (e) {
                try
                {
                    location.href = '@Url.Action("SignOut","Home")';
                }
                catch (err)
                {
                    alert(err.message);
                }
            });
        });
    </script>
</head>
<body>
    <div class="nav navbar-inverse navbar-fixed-top">
        <div class="navbar navbar-inverse">
            @*<div class="col-xs-12 col-sm-1 col-md-1 col-xl-1">*@
            <div>
                @if (@Model.currentUser.ID != Guid.Empty)
                {
                    <input type="button" id="pangeaLogoutbtn" value="PANGEA - @Model.currentUser.FullName (@Model.currentUser.AccountName)" style="width:100%; background-color:orange" class="form-control font-weight-bold" />
                }
                else
                {
                    <input type="button" id="pangeaLoginbtn" value="PANGEA Log In" style="width:100%; background-color:orange" class="form-control font-weight-bold" />
                }
            </div>
            @* //Search boxes code
                    <div class="col-xs-4 col-sm-8 col-md-8 col-xl-4" style="float:left; width:100%">
                <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6 sb" style="float:left; width:100%">
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                        {
                            Text = "Location",
                            Value = "Location"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Child Number",
                            Value = "Child Number"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Child Name",
                            Value = "Child Name"
                        });
                    }

                    @Html.DropDownList("searchFilter", listItems, "-- Select Search Type --", new { @class = "form-control" })
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-xl-6" style="float:left; width:100%">
                    <div class="input-group">
                        @Html.TextBox("searchBox", null, new { @class = "form-control", @placeholder = "Search.." })
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                </div>
                            </div>*@
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" id="mainMenu">
            <div class="container-fluid">
                <ul class="nav navbar-collapse" id="nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Child Records", "Index", "ChildRecords")</li>
                    }

                    @if (@Model.currentUser.CanEnroll)
                    {
                        <li>@Html.ActionLink("Enrollment", "EnrollmentWorklist", "PanMain", null, new { id = "Menu_Enrollment" })</li>
                    }

                    @if (@Model.currentUser.CanSchedule)
                    {
                        <li>@Html.ActionLink("Mark Location for Update", "Index", "MarkLocationForUpdate")</li>
                    }

                    @if (@Model.currentUser.CanUpdate)
                    {
                        <li>@Html.ActionLink("Update", "Update", "PanMain", null, new { id = "Menu_Update" })</li>
                    }

                    @if (@Model.currentUser.CanQC)
                    {
                        <li>@Html.ActionLink("Quality Control", "QualityControl", "PanMain", null, new { id = "Menu_QualityControl" })</li>
                    }

                    @if (@Model.currentUser.CanTranslate)
                    {
                        <li>@Html.ActionLink("Translation", "Translation", "PanMain", null, new { id = "Menu_Translation" })</li>
                    }

                    @if (@Model.currentUser.CanShipping)
                    {
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="Menu_Shipping">Shipping</a>
                            <ul class="dropdown-menu" id="subNav" role="menu" style="padding-bottom:23px;">
                                <li>@Html.ActionLink("Shipping Creation", "ShippingCreation", "Shipping", null, new { id = "Menu_ShippingCreation" })</li>
                                <li>@Html.ActionLink("Shipping Recieving", "ShippingRecieving", "Shipping", null, new { id = "Menu_ShippingRecieving" })</li>
                            </ul>
                        </li>
                    }

                    @if (@Model.currentUser.CanReport)
                    {
                        <li>@Html.ActionLink("Reports", "Reports", "Home", new { controller = "Controller" }, new { target = "_blank", id = "Menu_Reports" })</li>
                    }

                    @if (@Model.currentUser.CanMaintenance)
                    {
                        <li>@Html.ActionLink("Application Manager", "Index", "ApplicationManager", null, new { id = "Menu_AppMngr" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="mainContainer" style="padding-top:0px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-xl-3 sidenav">@Html.Partial("_SideBar")</div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-xl-9 body-content">
                    <div class="container content">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*<div class="container-fluid" style="padding:0 7% 0 30%; max-height:100px;">
            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
                    <ul class="nav nav-pills nav-justified" style="display:inline; width:100%;">
                        <li><span style="display:inline-block; float:left"><a>© 2018 Feed the Children</a></span></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>*@
    @RenderSection("Scripts", required: false)
</body>
</html>