﻿ <!-- Partial View for Sidebar layout -->
<div>
    <nav id="Sidebar">
        <div style="border:2px solid grey; text-align:center;font:bold 16px Arial; color: black; background-color:turquoise">Action</div>
        <ul class="nav nav-pills nav-stacked">
            @if (ViewBag.Module == "Enrollment")
            {
                if (Model.Declines != null && Model.Declines.Count > 0)
                {
                    foreach (var item in Model.Declines)
                    {
                        if (item.DeclineReason == "Child Information")
                        {
                            <li> <a id="declined_childinfo" href="#" onclick="viewDeclinedChildInfo()" return false;">Declined Child Information</a> </li>
                        }
                        if (item.DeclineReason == "Enrollment Information")
                        {
                            <li> <a id="declined_enrollmentinfo" href="#" onclick="viewDeclinedEnrollmentInfo()" return false;">Declined Enrollment Information</a> </li>
                        }
                        if (item.DeclineReason == "Profile Photo")
                        {
                            <li> @Html.ActionLink("Declined Profile Photo", "openQCFile", "PanMain", new { id = "decliedProfile", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                            @*<li> <a id="declined_profilePhoto" href="#" onclick="viewDeclineProfile(@item.fileID)" return false;">Declined Profile Photo</a> </li>*@
                            @*<li> @Html.ActionLink("Profile Photo", "LoadQCFile", "PanMain", new { ChildID = Model.child.ChildID, fileID = item.fileID } , new { onclick = "viewDeclineProfile();" }) </li>*@
                        }
                        if (item.DeclineReason == "Action Photo")
                        {
                            <li> @Html.ActionLink("Declined Action Photo", "openQCFile", "PanMain", new { id = "decliedAction", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                        }
                        if (item.DeclineReason == "Art")
                        {
                            <li> @Html.ActionLink("Declined Art", "openQCFile", "PanMain", new { id = "decliedArt", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                        }
                        if (item.DeclineReason == "Letter")
                        {
                            <li> @Html.ActionLink("Declined Letter", "openQCFile", "PanMain", new { id = "decliedLetter", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                        }
                        if (item.DeclineReason == "Consent Form")
                        {
                            <li> @Html.ActionLink("Declined Consent", "openQCFile", "PanMain", new { id = "decliedConsent", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                        }
                    }
                }
                else
                {
                    <li>@Html.ActionLink("Create New Enrollment", "Enrollment", "PanMain")</li>
                    if (Model.child != null)
                    {
                        <li>@Html.ActionLink("Remove", "RemoveChildEnrollment", "PanMain", new {id = Model.child.ChildID}, new {id = "enrollment_remove"})</li>
                    }
                }

                @*<li>@Html.ActionLink("Delete", "Enrollment", "PanMain")</li>*@
            }
            else if (ViewBag.Module == "Update")
            {
                if (Model.Declines != null && Model.Declines.Count > 0)
                {
                    foreach (var item in Model.Declines)
                    {
                        if (item.DeclineReason == "Update Information")
                        {
                            @*<a href="#" data-toggle="modal" data-target="#childDeclineModal">Update Information</a>*@
                            @*<li>@Html.ActionLink("Declined Update Information", "DeclineChildDetails", "PanMain", new { id = Model.child.ChildID }, new { id = "child_decline_updateInfo", @data_toggle = "modal", @data_target = "#childDeclineModal" })</li>*@
                            <li> <a id="declined_updateinfo" href="#" onclick="viewDeclinedUpdateInfo()" return false;">Declined Update Information</a> </li>
                        }
                        if (item.DeclineReason == "Profile Photo")
                        {
                            <li> @Html.ActionLink("Declined Profile Photo", "openQCFile", "PanMain", new { id = "decliedProfile", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                            @*<li> <a id="declined_profilePhoto" href="#" onclick="viewDeclineProfile(@item.fileID)" return false;">Declined Profile Photo</a> </li>*@
                            @*<li> @Html.ActionLink("Profile Photo", "LoadQCFile", "PanMain", new { ChildID = Model.child.ChildID, fileID = item.fileID } , new { onclick = "viewDeclineProfile();" }) </li>*@
                        }
                        if (item.DeclineReason == "Action Photo")
                        {
                            <li> @Html.ActionLink("Declined Action Photo", "openQCFile", "PanMain", new { id = "decliedAction", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                        }
                        if (item.DeclineReason == "Art")
                        {
                            <li> @Html.ActionLink("Declined Art", "openQCFile", "PanMain", new { id = "decliedArt", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                        }
                        if (item.DeclineReason == "Letter")
                        {
                            <li> @Html.ActionLink("Declined Letter", "openQCFile", "PanMain", new { id = "decliedLetter", @class = "qcfilelink", data_PendingChildID = item.PendingChildID, data_fileID = item.FileID }) </li>
                        }
                    }
                }
                else
                {
                    <li>@Html.ActionLink("Remove", "RemoveChild", "PanMain", new { id = Model.child.ChildID }, new { id = "child_remove" })</li>
                }
            }
            else if (ViewBag.Module == "QCEnrollment" || ViewBag.Module == "QCUpdate")
            {
                foreach (var item in Model.Child_workflowsteps)
                {
                    if (item.Step_Name == "Enrollment Information")
                    {
                        <li> <a id="qc_enrollinfo" href="" onclick="$('#AdditionalInformationTab').trigger('click'); return false;">Enrollment Information</a> </li>
                    }
                   
                    else if (item.Step_Name == "Update Information")
                    {
                        <li> <a id="qc_updateinfo" href="" onclick="$('#AdditionalInformationTab').trigger('click'); return false;">Update Information</a> </li>
                    }
                    else if (item.Step_Name == "Child Information")
                    {
                        <li> <a id="qc_childnfo" href="" onclick="$('#childTab').trigger('click'); return false;">Child Information</a> </li>
                    }
                    else if (item.Step_Name == "Profile Photo")
                    {
                        <li> @Html.ActionLink("Profile Photo", "openQCFile", "PanMain", new { id = "qc_profilephoto", @class = "qcfilelink", data_PendingChildID = item.Pending_Child_ID, data_fileID = item.File_ID }) </li>
                    }
                    else if (item.Step_Name == "Action Photo")
                    {
                        <li> @Html.ActionLink("Action Photo", "openQCFile", "PanMain", new { id = "qc_actionphoto", @class = "qcfilelink", data_PendingChildID = item.Pending_Child_ID, data_fileID = item.File_ID }) </li>
                    }
                    else if (item.Step_Name == "Consent Form")
                    {
                        <li> @Html.ActionLink("Consent Form", "openQCFile", "PanMain", new { id = "qc_consentform", @class = "qcfilelink", data_PendingChildID = item.Pending_Child_ID, data_fileID = item.File_ID }) </li>
                    }
                    else if (item.Step_Name == "Art")
                    {
                        <li> @Html.ActionLink("Art", "openQCFile", "PanMain", new { id = "qc_art", @class = "qcfilelink", data_PendingChildID = item.Pending_Child_ID, data_fileID = item.File_ID }) </li>
                    }
                    else if (item.Step_Name == "Letter")
                    {
                        <li> @Html.ActionLink("Letter", "openQCFile", "PanMain", new { id = "qc_letter", @class = "qcfilelink", data_PendingChildID = item.Pending_Child_ID, data_fileID = item.File_ID }) </li>
                    }
                }
            }
            else if (ViewBag.Module == "Translate")
            {
                foreach (var item in Model.Child_translationSteps)
                {
                    if (item.Step == "Letter")
                    {
                        <li> @Html.ActionLink("Letter", "openQCFile", "PanMain", new { id = "letter", @class = "qcfilelink", data_fileID = item.FileID }) </li>
                    }
                    else if (item.Step == "Update Information")
                    {                  
                        <li> @Html.ActionLink("Major Life Event", "openQCFile", "PanMain", new { id = "mle", @class = "qcMleLink", data_mle = item.Description, data_fileID = item.MLEID }) </li>
                    }
                }
            }
            else if (ViewBag.Module == "ChildRecord")
            {
                <li>@Html.ActionLink("Remove", "RemoveChild", "PanMain", new { id = Model.child.ChildID }, new { id = "child_remove" })</li>
            }
        </ul>
        <div style="border:2px solid grey; text-align:center;font:bold 16px Arial; color: black; background-color:turquoise">Messages</div>
        <div style="padding:3px 3px 3px 3px">
            <div id="Msgs" style="color:turquoise;padding:2%"></div>
            <div id="validationMsgs" style="color:orangered; word-wrap:break-word; padding:2%;">
            </div>
            <div style="color:orangered; word-wrap:break-word; padding:1%;">
                @if ((ViewBag.Module == "Enrollment" || ViewBag.Module == "Update") && (Model.Declines != null && Model.Declines.Count > 0))
                {
                    foreach (var item in Model.Declines)
                    {
                        <ul>
                            <li id=@item.DeclineReason><div> @item.DeclineReason: </div><div> @item.DeclineSubReason </div> <div> Notes: @item.DeclineNotes</div></li>
                        </ul>
                    }
                }
            </div>
        </div>
    </nav>
</div>