﻿#Sidebar li {
    width: 100%;
}

@media (min-width: 768px) {
    #Sidebar {
        border: 3px solid #ccc;
        min-height: 700px;
       padding-top:23px;
    }
}

@media (max-width: 767px) {
    #Sidebar {
        border: 3px solid #ccc;
        min-height: 400px;
    }
}
