﻿
@model FTCWebApp.ViewModels.ShippingVM
@{
    ViewBag.Title = "ShippingCreationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#Menu_Shipping').addClass('current');
        $('#cancelCodeTable').click(function () {
            $('#Form').attr('action', $("#URLCancel").val()).submit();
        });
    });
</script>


@using (Html.BeginForm("SubmitShippingDetails", "Shipping", FormMethod.Post, new { id = "ShippingDetails" }))
{
    <div id="content" style="position:relative; padding-top:30px;">
        <div class="col-xs-12 colsm-12 col-md-4 col-xl-4">
            <div class="editor-label">
                <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                    <span style="color:red;padding:2%;visibility:hidden" id="TrackingNumber_reqIndicator">*</span>
                    @Html.LabelFor(model => model.Details.TrackingNumber)
                </div>
            </div>
            <div class="editor-field childform">
                @Html.TextBoxFor(model => model.Details.TrackingNumber, new { @class = "form-control", style = "width: 100%;", placeholder = "Tracking Number", tabindex = 4 })
                @Html.ValidationMessageFor(model => model.Details.TrackingNumber)
            </div>
            @*<div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        <span style="color:red;padding:2%;visibility:hidden" id="LastName_reqIndicator">*</span>
                        @Html.LabelFor(model => model.child.LastName)
                    </div>
                    <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                        <span style="padding:2%;visibility:hidden" id="LastName_info" title="Last Name is required">[?]</span>
                        @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                        { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="LastName_prevValue"></span> }
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.TextBoxFor(model => model.child.LastName, new { @class = "form-control", style = "width: 100%;", placeholder = "Last Name", tabindex = 6 })
                    @Html.ValidationMessageFor(model => model.child.LastName)
                </div>
                <div class="editor-label">
                    <div class="col-xs-12 colsm-12 col-md-12 col-xl-8">
                        <span style="color:red;padding:2%;visibility:hidden" id="GenderCodeID_reqIndicator">*</span>
                        @Html.LabelFor(model => model.child.GenderCodeID)
                    </div>
                    <div style="float:right" class="col-xs-12 colsm-12 col-md-12 col-xl-4">
                        <span style="padding:2%;visibility:hidden" id="GenderCodeID_info" title="Gender Code ID is required">[?]</span>
                        @if (ViewBag.Module == "Update" || ViewBag.Module == "QCUpdate")
                        { <span style="padding:2%;float:right" class="glyphicon glyphicon-book" id="GenderCodeID_prevValue"></span> }
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.DropDownListFor(model => model.child.GenderCodeID, new SelectList(Model.Details.ShippedBy, "Value", "Text"), "Sex", new { @class = "form-control", style = "width: 100%;", tabindex = 8 })
                    @Html.ValidationMessageFor(model => model.child.GenderCodeID)
                </div>*@
        </div>

    </div>
}



