﻿
@{
    ViewBag.Title = "Remove Child Update";
}

@model FTCWebApp.ViewModels.CommonVM

<h4 style="padding-top:30px;">Remove Child Update</h4>
<body>
    <div class="col-xs-12 colsm-12 col-md-6 col-xl-6">
        <div>
            <input type="hidden" id="remove_childID" value="@Model.child.ChildID"/>
        </div>
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:1%">
            <div class="row">
                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4 editor-label"><span>@Html.Label("Child Name")</span></div>
                <div class="col-xs-12 colsm-12 col-md-8 col-xl-8 editor-label"><span>@Html.DisplayFor(model => model.child.FirstName) @Html.DisplayFor(model => model.child.MiddleName) @Html.DisplayFor(model => model.child.LastName)</span></div>
            </div>
            <div class="row">
                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4 editor-label"><span>@Html.LabelFor(model => model.child.ChildNumber)</span></div>
                <div class="col-xs-12 colsm-12 col-md-8 col-xl-8 editor-label"><span>@Html.DisplayFor(model => model.child.ChildNumber)</span></div>
            </div>
            <div class="row">
                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4 editor-label"><span>@Html.LabelFor(model => model.child.RemoveReasonCodeID)</span></div>
                <div class="col-xs-12 colsm-12 col-md-8 col-xl-8 editor-label"><span>@Html.DropDownListFor(model => model.child.RemoveReasonCodeID, new SelectList(Model.RemoveReasons, "Value", "Text"), "Remove Reason", new { @class = "form-control", style = "width: 100%;" })</span></div>
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12" style="padding:1%">
            <div class="row">
                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4"></div>
                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4"><button id="remove_yes" style="width:100%; background-color:orange; float:right" class="form-control font-weight-bold" data-toggle="modal" data-target="#childremoveModal">Yes</button></div>
                <div class="col-xs-12 colsm-12 col-md-4 col-xl-4"><button id="remove_no" onclick="location.href='/PanMain/Update'" style="width:100%; background-color:orange; float:right" class="form-control font-weight-bold">No</button></div>
            </div>
        </div>
        <!-- Remove Child Modal -->
        <div class="modal fade" id="childremoveModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Remove Child</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
                                <span>Are you sure to remove the child with the specified child number ?</span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-6 colsm-6 col-md-6 col-xl-6">
                                <button class="btn btn-default" data-dismiss="modal" id="child_yesremove" style="width:50%;background-color:orange;">Yes</button>
                            </div>
                            <div class="col-xs-6 colsm-6 col-md-6 col-xl-6">
                                <button class="btn btn-default" data-dismiss="modal" id="child_noremove" style="width:50%;background-color:orange;">No</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>




