﻿
@{
    ViewBag.Title = "Child Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FTCWebApp.ViewModels.ChildRecordsVM

<script>
    $(function () {
        var firstClick = true;
        $("#getChildRecords").click(function () {
            // Construct data string
            var formData = new FormData();
            formData.append('countryID', $('#child_CountryId').val());
            formData.append('locationID', $('#child_LocationCodeID').val());
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getChildRecordData", "ChildRecords")',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (!firstClick) {
                        $.jgrid.gridUnload('#ChildRecords_tableGrid');
                    }
                    firstClick = false;
                    $("#ChildRecords_tableGrid").jqGrid({
                        datatype: 'jsonstring',
                        datastr: data,
                        jsonReader: {
                            root: "data",
                            ID: "ChildID",
                            Number: "ChildNumber"
                        },
                        colModel: [
                            { label: 'Child ID', name: 'ChildID', key: true, width: 300, jsonmap: "ChildID", hidden: true, search: false },
                            {
                                label: 'Child Number', name: 'ChildNumber', width: 120, align: 'center', jsonmap: "ChildNumber", search: true, formatter: function (cellvalue, options, rowObject) {
                                    var x = '@Html.ActionLink("ChildNumber", "LoadChildRecord", "PanMain", new { id = "ChildID" }, new { @style = "color:Blue;font-weight:bold;" })';
                                    // replace string "ChildNumber" with the child number
                                    var y = x.replace("ChildNumber", rowObject.ChildNumber);
                                    // replace string "ChildID" with the child ID
                                    return y.replace("ChildID", rowObject.ChildID);
                                }
                            },
                            { label: 'First Name', name: 'FirstName', width: 120, sortable: true, jsonmap: "FirstName", search: false },
                            { label: 'Middle Name', name: 'MiddleName', width: 130, sortable: true, jsonmap: "MiddleName", search: false },
                            { label: 'Last Name', name: 'LastName', width: 200, sortable: true, jsonmap: "LastName", search: false },
                            { label: 'Other Name', name: 'OptionalName', width: 100, sortable: true, jsonmap: "OptionalName", search: false },
                            { label: 'Date of Birth', name: 'DateOfBirth', width: 130, align: 'right', sortable: true, jsonmap: "DateOfBirth", formatter: 'date', search: false },
                            { label: 'Gender', name: 'Gender', width: 100, sortable: true, jsonmap: "Gender", search: false },
                            { label: 'Location Name', name: 'Location', width: 200, sortable: true, jsonmap: "Location", search: false }
                        ],
                        height: 'auto',
                        width: 'auto',
                        loadonce: false,
                        rowNum: 15,
                        gridview: true,
                        viewrecords: true,
                        sortorder: "desc",
                        rowList: [10, 15, 20],
                        pager: '#ChildRecords_Pager',
                        //Commented for future use
                        //sortname: 'Location',
                        pgbuttons: true
                    }).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
                    $('#lui_ChildRecords_tableGrid').removeClass('ui-widget-overlay jqgrid-overlay');
                }
            });
        });


        @{ 

            Html.RenderPartial("~/Views/partials/pv_User_Cache_Defaults.cshtml", Model.user_Session_Defaults);
                                   

        }

       
    });
</script>
<body>
    <!-- Update index page -->
    <div id="content" style="position:relative; padding-top:30px">
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding-left:0px;">
                <div class="editor-label" style="padding-left:0px;">
                    <div>
                        @Html.LabelFor(model => model.child.CountryId)
                    </div>
                </div>
                <div class="editor-field childform" style="padding-left:0px;">
                    @Html.DropDownListFor(model => model.child.CountryId, new SelectList(Model.Countries, "Value", "Text"), "Select Country", new { @class = "form-control", style = "width: 100%;" })
                </div>
            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div>
                        @Html.LabelFor(model => model.child.LocationName)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.DropDownListFor(model => model.child.LocationName, Enumerable.Empty<SelectListItem>(), "Select Location", new { @class = "form-control", style = "width: 100%;" })
                </div>

            </div>
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3">
                <div class="editor-label">
                    <div>
                        @Html.LabelFor(model => model.child.LocationCodeID)
                    </div>
                </div>
                <div class="editor-field childform">
                    @Html.DropDownListFor(model => model.child.LocationCodeID, Enumerable.Empty<SelectListItem>(), "Select Location Code", new { @class = "form-control", style = "width: 100%;" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
            <div class="col-xs-12 colsm-12 col-md-3 col-xl-3" style="padding-left:0px;">
                <input type="button" value="Submit" id="getChildRecords" style="width:70%; background-color:orange;" class="form-control font-weight-bold" />
            </div>
        </div>
        <div class="col-xs-12 colsm-12 col-md-12 col-xl-12">
            <div style="margin-top:10px;">
                <table id="ChildRecords_tableGrid"></table>
                <div id="ChildRecords_Pager"></div>
            </div>
        </div>
    </div>
</body>